<div class="card card-body mb-3">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Add a log..." name="text" autocomplete="off"
                [(ngModel)]="text">
        </div>
        <input [disabled]="!text || text?.length === 0" type="submit" value="Add log" *ngIf="isNew"
            class="btn btn-light mr-2">
        <input [disabled]="!text || text?.length === 0" type="submit" value="Update log" *ngIf="!isNew"
            class="btn btn-light mr-2">
        <button (click)="clearState()" type="button" [hidden]="!text || text?.length === 0"
            class="btn btn-warning">Clear</button>
    </form>

</div>